<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    <title>會員登入成功</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
</head>
<body>
    <div class="system_name">
        <h2>Hi, {{ data["name"] }}, 歡迎回來！</h2>
    </div>
    <div class="container-member">
        <h3>登入成功</h3>
        <button class="submit" onclick="window.location.href='signout'">登出</button>
        <form action="/message" method="post">
            <input type="message" class="input-item" name="message" placeholder="寫下你現在的心情吧！">
            <input type="submit" value="送出" class="submit">
        </form>
        <div class="warning">{{data["empty_sumit"]}}</div>
        <div class="message_box">
        <ul>
            {% for x in data["messages"] %}
            <li><strong>{{x[0]}}: </strong> {{x[1]}}</li>
            {% endfor %}
        </ul>  
        </div>  
    </div>
</body>
</html>