<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    <title>登入失敗</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
</head>
<body>
    <div class="system_name">
        <h2>登入失敗</h2>
    </div>
    <div class="container-member">
        <h3>{{ data }}</h3>
        <button class="submit" onclick="window.location.href='signout'">重新登入</button>
    </div>
</body>
</html>