<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Square</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="system_name">
        <h2>正整數的平⽅計算結果</h2>
    </div>
    <div class="container-member">
        <h3>{{data}}</h3>
        <button class="submit" onclick="window.location.href='/'">重新計算</button>
    </div>
</body>
</html>